<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find me</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div>

    <div class="allPosts">
        Posts
        <ul th:each="posts : ${Posts}" >
            <li class="post">
                <p th:text="'User posted: ' + ${posts.userPosted.firstName + ' ' + posts.userPosted.lastName}"></p>
                <p th:text="'User Page posted: ' + ${posts.userPagePosted.firstName + ' ' + posts.userPagePosted.lastName}"></p>
                <p th:text="'Message: ' + ${posts.message}"></p>
                <p th:text="'Date: ' + ${posts.datePosted}"></p>
                <p th:text="'Location: ' + ${posts.location}"></p>
                <p>
                    <ul th:each="usersTagg : ${posts.usersTagget}">
                        <li>
                            <p th:text="${usersTagg.firstName + ' ' + usersTagg.lastName}"></p>
                        </li>
                    </ul>
                </p>
            </li>
        </ul>

    </div>

    <p><a href="feed.html" class="next-page-href">Next Page</a></p>
</div>
</body>
<script>

    $(".next-page-href").click(function (e) {
        // var data = {"nextPage": "true"};
        e.preventDefault();
        $.ajax({
            type: "GET",
            url: "feed",
            data: {nextPage: "true"},
            // contentType : "application/json",
            success: function success(html) {

            },
            error: function error(xhr) {
;
            }
        })
    })




//    $(".post-form").submit(function (e) {
//        var text = document.getElementById("text").value;
//        var location = document.getElementById("location").value;
//        var location = document.getElementById("location").value;
//        var usersTagget = document.getElementById("usersTagget").value;
//        var dataForm = {"message": text, "location": location, "usersTagg": "[" + usersTagget + "]"};
//        e.preventDefault();
//        $.ajax({
//            type: "POST",
//            url: "createPost",
//            data: JSON.stringify(dataForm),
//            contentType : "application/json",
//            success: function success() {
//                alert("post sent");
//            },
//            error: function error(xhr) {
//                debugger;
//                alert("post not sent");
//            }
//        })
//    })
//
//    $(".all-posts-but").click(function (e) {
//        var dataForm = {"filterPostsUserId": null};
//        e.preventDefault();
//        $.ajax({
//            type: "POST",
//            url: "postFilter",
//            data: JSON.stringify(dataForm),
//            contentType : "application/json",
//            success: function  success() {
//                alert("reload the page");
//            },
//            error: function error(xhr) {
//                debugger;
//                alert("Error");
//            }
//        });
//    });
//
//    $(".my-posts-but").click(function (e) {
//        var dataForm = {"filterPostsUserId": 0};
//        e.preventDefault();
//        $.ajax({
//            type: "POST",
//            url: "postFilter",
//            data: JSON.stringify(dataForm),
//            contentType : "application/json",
//            success: function  success() {
//                alert("reload the page");
//            },
//            error: function error(xhr) {
//                debugger;
//                alert("Error");
//            }
//        });
//    });
//
//    $(".user-id-posts").submit(function (e) {
//        var text = document.getElementById("filterPostsUserId").value;
//        var dataForm = {"filterPostsUserId": text};
//        e.preventDefault();
//        $.ajax({
//            type: "POST",
//            url: "postFilter",
//            data: JSON.stringify(dataForm),
//            contentType : "application/json",
//            success: function success() {
//                alert("reload the page");
//            },
//            error: function error(xhr) {
//                debugger;
//                alert("Error");
//            }
//        });
//
//    });
</script>
<style>
    .post{
        border: chocolate solid;
    }
</style>
</html>