<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find me</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div>

    <div class="allPosts">
        Posts
        <ul th:each="posts : ${Posts}" >
            <li class="post">
                <p th:text="'User posted: ' + ${posts.userPosted.firstName + ' ' + posts.userPosted.lastName}"></p>
                <p th:text="'User Page posted: ' + ${posts.userPagePosted.firstName + ' ' + posts.userPagePosted.lastName}"></p>
                <p th:text="'Message: ' + ${posts.message}"></p>
                <p th:text="'Date: ' + ${posts.datePosted}"></p>
                <p th:text="'Location: ' + ${posts.location}"></p>
                <p>
                    <ul th:each="usersTagg : ${posts.usersTagget}">
                        <li>
                            <p th:text="${usersTagg.firstName + ' ' + usersTagg.lastName}"></p>
                        </li>
                    </ul>
                </p>
            </li>
        </ul>

    </div>

    <p><a href="feed.html" class="next-page-href">Next Page</a></p>
</div>
</body>
<script th:inline="javascript">

    $(".next-page-href").click(function (e) {

        e.preventDefault();
        $.ajax({
            type: "GET",
            url: "feed",
            data: {nextPage: "true"},
            success: function success() {

            },
            error: function error(xhr) {
;
            }
        })
    })

</script>
<style>
    .post{
        border: chocolate solid;
    }
</style>
</html>