<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find me</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="starter-template">
        <h1>Welcome to Find me!</h1>
    </div>

    <form id="registration-form">
        <input type="text" name="firstName" placeholder="First name" required/>
        <input type="text" name="lastName" placeholder="Last name" required/>
        <input type="text" name="phone" placeholder="Phone" required/>
        <input type="text" name="eMail" placeholder="Email" required/>
        <input type="text" name="password" placeholder="Password" required/>
        <button type="submit">Register</button>
    </form>

    <form id="login-form">
        <input type="text" name="password" placeholder="Password" required/>
        <input type="text" name="phone" placeholder="Phone" required/>
        <button type="submit">Login</button>
    </form>

</div>


</body>

<script>

    $("#registration-form").submit(function (e) {
        e.preventDefault()
        $.ajax({
            type: "POST",
            url: "user-registration",
            data: $("#registration-form").serialize(),
            success: function success(data) {
                debugger;
                alert("user is saved");
            },
            error: function error(xhr) {
                debugger;
                alert("user is`t saved");
            }
        })
    })
    $("#login-form").submit(function (e) {
        e.preventDefault()
        $.ajax({
            type: "POST",
            url: "login",
            data: $("#login-form").serialize(),
            success: function success(data) {
                alert("user is login");
                location="myProfile";

            },
            error: function error(xhr) {
                debugger;
                alert("user is`t login");
            }
        })
    })

</script>
</html>
