<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find me</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div>
    <div class="left">
        <h1>Photo</h1>

    </div>

    <div class="right">
        Styled text here
        <p th:text="${user.firstName}"></p>
        <p th:text="${user.city}"></p>
        <button id="logout">Logout</button>
    </div>

    <div class="right">
        Friend requests
        <ul th:each="users : ${relationships}" id="in-request-list">
            <li>
                <p th:text="${users.firstName}"   ></p>
                <button th:data-userRequest="${users.firstName}" class="accept">Accept</button>
                <button class="not-accept">Not accept</button>
            </li>
        </ul>
    </div>

</div>
</body>
<script  th:inline="javascript">



    $("#logout").click(function () {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "logout",
            data: {},
            success: function  success() {
                debugger;
                alert("logout");
            },
            error: function error(xhr) {
                debugger;
                alert("error logout");
            }
        });
    });

    $(".accept").click(function (e) {
        console.log($(e.relatedTarget));
        $.ajax({
            type: "POST",
            url: "update-relationship",
            data: {status: "friend", user: $(e.relatedTarget).data("userRequest")},
            success: function  success() {
                alert("updated");
            },
            error: function error(xhr) {
                debugger;
                alert("not updated");
            }
        });
    });


</script>
<style>
    .left{
        float: left;
        width: 200px;
        height: 300px;
        border-style: solid;
    }

    .right {
        margin-left: 300px;
    }

    .btn{
        margin-top: 230px;
    }
</style>
</html>