<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find me</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div>
    <div class="left">
        <h1>Photo</h1>

    </div>

    <div class="right">
        Styled text here
        <p th:text="${user.firstName}"></p>
        <p th:text="${user.city}"></p>
        <button id="logout">Logout</button>
    </div>

    <div class="right">
        Incoming friend requests
        <ul th:each="users : ${incomingRequests}" id="in-request-list">
            <li>
                <p th:text="${users.firstName}"></p>
                <button class="accept" th:attr="data-first-name=${users.id}">Accept</button>
                <button class="not-accept" th:attr="data-first-name=${users.id}">Not accept</button>
            </li>
        </ul>
    </div>

    <div class="right">
        Outgoing friend requests
        <ul th:each="users : ${outgoingRequests}" id="out-request-list">
            <li>
                <p th:text="${users.firstName}"></p>
                <button class="abort" th:attr="data-first-name=${users.id}">Abort</button>
            </li>
        </ul>
    </div>

    <div class="right">
        Friends
        <ul th:each="users : ${friends}" id="friends">
            <li>
                <p th:text="${users.firstName}"></p>
                <button class="delete" th:attr="data-first-name=${users.id}">Delete</button>
            </li>
        </ul>
    </div>

    <div class="post">
        <form class="post-form">
            <textarea name="post-text" cols="40" rows="3" id="text" required></textarea>
            <input type="text" name="location" placeholder="Location" id="location"/>
            <input type="text" name="usersTagget" placeholder="UsersTagget" id="usersTagget"/>
            <button type="submit">Send post</button>

        </form>

    </div>

</div>
</body>
<script  th:inline="javascript">



    $("#logout").click(function () {
        $.ajax({
            type: "POST",
            url: "logout",
            data: {},
            success: function  success() {
                debugger;
                alert("logout");
            },
            error: function error(xhr) {
                debugger;
                alert("error logout");
            }
        });
    });

    $(".accept").click(function (e) {
        var dataForm = {"status":"FRIEND", "idUser":this.dataset.firstName};
        $.ajax({
            type: "POST",
            url: "update-relationship",
            data:JSON.stringify(dataForm),
            contentType : "application/json",
            success: function  success() {
                alert("update");
            },
            error: function error(xhr) {
                debugger;
                alert("not update");
            }
        });
    });

    $(".not-accept").click(function (e) {
        var dataForm = {"status":"REQUEST_DENIED", "idUser":this.dataset.firstName};
        $.ajax({
            type: "POST",
            url: "update-relationship",
            data:JSON.stringify(dataForm),
            contentType : "application/json",
            success: function  success() {
                alert("updated");
            },
            error: function error(xhr) {
                debugger;
                alert("not updated");
            }
        });
    });

    $(".abort").click(function (e) {
        var dataForm = {"idUser":this.dataset.firstName};
        $.ajax({
            type: "POST",
            url: "update-relationship",
            data:JSON.stringify(dataForm),
            contentType : "application/json",
            success: function  success() {
                alert("deleted");
            },
            error: function error(xhr) {
                debugger;
                alert("not deleted");
            }
        });
    });

    $(".delete").click(function (e) {
        var dataForm = {"status":"WAS_FRIEND", "idUser":this.dataset.firstName};
        $.ajax({
            type: "POST",
            url: "update-relationship",
            data:JSON.stringify(dataForm),
            contentType : "application/json",
            success: function  success() {
                alert("deleted");
            },
            error: function error(xhr) {
                debugger;
                alert("not deleted");
            }
        });
    });

    $(".post-form").submit(function (e) {
        var dataForm = {"message":$('#text').val(), "location":$('#location').val(), "usersTagget":$('#usersTagget').val()};
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "createPost",
            data: JSON.stringify(dataForm),
            contentType : "application/json",

            success: function success() {
                alert("post sent");
            },
            error: function error(xhr) {
                debugger;
                alert("post not sent");
            }
        })
    })

</script>
<style>
    .left{
        float: left;
        width: 200px;
        height: 300px;
        border-style: solid;
    }

    .right {
        margin-left: 300px;
    }

    .post-form{
        margin-top: 230px;
        margin-left: -200px;
        display: inline-grid;
    }
</style>
</html>