<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find me</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="left">
        <h1>Photo</h1>


    </div>

    <div class="right">
        Styled text here
        <p th:text="${user.firstName}"></p>
        <p th:text="${user.city}"></p>
    </div>



    <div>
        <button id="add-to-friends" class="btn">Add to friends</button>
    </div>

    <div class="post">
        <form class="post-form">
            <textarea name="post-text" cols="40" rows="3" id="text" required></textarea>
            <input type="text" name="location" placeholder="Location" id="location"/>
            <input type="text" name="usersTagget" placeholder="UsersTagget" id="usersTagget"/>
            <button type="submit">Send post</button>

        </form>

    </div>

</div>
</body>
<script>


     $("#add-to-friends").click(function (e) {
         e.preventDefault();
         $.ajax({
             type: "POST",
             url: "http://localhost:8080/add-relationship",
             data: {},
             success: function  success() {
                 alert("Ok");
             },
             error: function error(xhr) {
                 debugger;
                 alert("error");
             }
         });
     });

     $(".post-form").submit(function (e) {
         var dataForm = {"message":$('#text').val(), "location":$('#location').val(), "usersTagget":$('#usersTagget').val()};
         e.preventDefault();
         $.ajax({
             type: "POST",
             url: "http://localhost:8080/createPost",
             data: JSON.stringify(dataForm),
             contentType : "application/json",

             success: function success() {
                 alert("post sent");
             },
             error: function error(xhr) {
                 debugger;
                 alert("post not sent");
             }
         })
     })

</script>
<style>
    .left{
        float: left;
        width: 200px;
        height: 300px;
        border-style: solid;
    }

    .right {
        margin-left: 300px;
    }

    .btn{
        margin-top: 230px;
    }

    .post-form{
        display: inline-grid;
    }
</style>
</html>